<head>
    <link rel="stylesheet" href="/stylesheets/AnadirDeveloper.css">
  </head>
  
  <div class="modal fade modal-lg" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="btn btn-close equis" data-bs-dismiss="modal" aria-label="Close">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-x" viewBox="0 0 16 16">
                    <path d="M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z"/>
                </svg>
            </button>
            <div class="modal-header">
                <h1 class="modal-title">Añadir Developer</h1>
            </div>
            <div class="modal-body">
                <div class="busqueda_developer">
                    <form action="" method="POST" class="d-flex" role="search">
                        <input type="text" name="busqueda" placeholder="Nombre del Developer" autocomplete="off" spellcheck="false" required="true">
                        <button type="submit"><i class="fas fa-search"></i></button>
                    </form>
                </div>
                <div class="mostrar_resultados"></div>
            </div>
        </div>
    </div>
  </div>
  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/javascripts/AnadirDeveloper.js"></script>