<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.js"></script>
    <script src="/js/jquery.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://kit.fontawesome.com/e85b7404a5.js" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css' />
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-png" href="resources/devhub.png">
    <title>DevHub - Test de Belbin</title>
</head>
<body class="background-radial-gradient justify-content-center min-vh-100 d-flex flex-column">
    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5" id = "testform1">
      <div class="row justify-content-center">
        <div class="col mb-5 mb-lg-0 align-items-center">
          <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
          <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
  
          <div class="card bg-glass">
            <div class="header m-4">
              <h1>Test Belbin</h1>
            </div>
            <div class="card-body px-4 py-3 px-md-5 text-center" id="dynamicFormContainer">
            </div>
          </div>    
        </div>
      </div>
    </div>
</body>

<script src="/javascripts/toastrFunctions.js"></script>
<script src="/javascripts/belbin.js"></script>

</html>