<!DOCTYPE html>
<html>
  <head>
    
    <link rel="icon" type="image/x-png" href="resources/devhub.png">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <script src="/js/bootstrap.js"></script>
    <script src="/js/jquery.js"></script>
    <title>DevHub - Index</title>
  </head>
  <body>
    <h1><DevHub - Index></h1>
    <p>Welcome to DevHub - Index. Redirecting to Register...</p>

  </body>
  <script>
    /*$(document).ready(function() {
      window.location = window.location + "registro";
    })*/
  </script>
</html>
