<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <script src="/js/bootstrap.js"></script>
    <script src="/js/jquery.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://kit.fontawesome.com/e85b7404a5.js" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css' />
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-png" href="resources/devhub.png">
    <title>DevHub - Log in</title>
</head>
<body class="background-radial-gradient justify-content-center min-vh-100 d-flex flex-column">
    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5" id = "formlogin">
        <div class="row gx-lg-5 align-items-center mb-5">
          <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
            <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
              Bienvenido a <br />
              <span style="color: hsl(218, 81%, 75%)">DevHub</span>
            </h1>
            <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
              La solución para creación de equipos compatibles y funcionales
              en base a la personalidad de los integrantes.
            </p>
          </div>
    
          <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
            <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
            <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
    
            <div class="card bg-glass">
              <div class="card-body px-4 py-5 px-md-5">
                <form class="formlogin">
                  <!-- Email input -->
                  <div class="form-outline mb-4">
                    <input type="email" id="email" name="email" class="form-control" required/>
                    <label class="form-label" for="email">Email</label>
                  </div>
    
                  <!-- Contraseña input -->
                  <div class="form-outline mb-4">
                    <input type="password" id="contrasena" name="contrasena" class="form-control" required/>
                    <label class="form-label" for="contrasena">Contraseña</label>
                  </div>
    
                  <!-- Submit button -->
                  <button type="submit" class="btn btn-primary btn-block mb-4">
                    Log in
                  </button>
                </form>
                <a href="/registro" class="justify-content-center">¿No tienes cuenta? Registrate aquí</a>
              </div>
            </div>
          </div>
        </div>
      </div>
</body>

<script src="javascripts/login.js"></script>

</html>