<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <script src="/js/bootstrap.js"></script>
    <script src="/js/jquery.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://kit.fontawesome.com/e85b7404a5.js" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css' />
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-png" href="resources/devhub.png">
    <title>DevHub - Perfil</title>
</head>
<body class="background-radial-gradient overflow-hidden">
    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5" id="perfil">
        <div class="r   ow gx-lg-5 align-items-center mb-5">
            <div class="col-lg-12 mb-5 mb-lg-0">
                <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
                    Perfil de Usuario
                </h1>
            </div>

            <div class="col-lg-12 position-relative">
                <div class="card bg-glass">
                    <div class="card-body px-4 py-5 px-md-5">
                        <div class="formperfil">
                            <div class="mb-4">
                                <label for="nombreUsuario" class="form-label">Nombre de Usuario:</label>
                                <input type="text" id="nombreUsuario" name="nombreUsuario" class="form-control" value="<%= userProfile.usuario %>" disabled>
                            </div>
                            <div class="mb-4">
                                <label for="correoUsuario" class="form-label">Correo:</label>
                                <input type="email" id="correoUsuario" name="correoUsuario" class="form-control" value="<%= userProfile.email %>" disabled>
                            </div>
                            <div class="mb-4">
                                <label for="rolUsuario" class="form-label">Rol de Usuario:</label>
                                <input type="text" id="rolUsuario" name="rolUsuario" class="form-control" value="<%= userProfile.es_empresa %>" disabled>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
