/* Estilos adicionales para las invitaciones */
.invitation {
    display: flex;
    flex-direction: row; /* Cambia la dirección del flexbox a columna */
    align-items: center; /* Centra los elementos horizontalmente */
    justify-content: center; /* Centra los elementos verticalmente */
    margin-bottom: 2%; /* Aumenta el espacio entre las tarjetas */
    margin-left: 2%; /* Aumenta el espacio entre las tarjetas */
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 6px 2px rgb(109, 62, 217); /* Agrega una sombra en todos los bordes */
}


.circle {
    width: 60px;
    height: 60px;
    border-radius: 50%; /* Cambia el radio para hacer el círculo más circular */
    margin-right: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.initials {
    font-size: 24px;
    color: white;
}

.circle.light-background .initials {
    color: black;
}

.invitation-text {
    margin-top: 2%;
    text-align: center; /* Centra el texto dentro de la tarjeta */
}

.invitation-buttons {
    display: flex;
    justify-content: center; /* Centra los botones horizontalmente */
    margin-left: 2%;
}

.accept-button,
.reject-button {
    margin: 5%; /* Espacio entre los botones */
    padding: 10px 20px; /* Aumenta el tamaño de los botones */
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.accept-button {
    background-color: green;
    color: white;
}

.reject-button {
    background-color: red;
    color: white;
}

@media (max-width: 768px) {
    /* Estilos para dispositivos con pantalla de hasta 768px de ancho */
    .invitation {
        padding: 15px; /* Reduce el padding en dispositivos más pequeños */
    }

    .circle {
        width: 50px;
        height: 50px;
    }

    .initials {
        font-size: 20px;
    }

    .accept-button,
    .reject-button {
        padding: 8px 16px; /* Reduce el tamaño de los botones en dispositivos más pequeños */
    }
}
