body{
    background: rgba(31,30,35,255); 
}

header{
    width: 100%;
    height: 8vh;
    background: rgba(24,23,28,255);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo
{
    display: flex;
    align-items: center;
    color: aliceblue;
    font-family: "Chivo Mono", monospace;
    width: 40%;
}

.logo h1
{
    cursor: pointer;
    margin-left: 10px;
}

.logo img
{
    cursor: pointer;
    width: 60px;
    height: 40px;
    margin-left: 40px;

}

.input-group{
    display: flex;
    justify-content: center;
}

.perfil{
    width: 30%;
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
    background-color: transparent;
    color:rgb(255, 255, 255);
}

.perfil span
{
    color:rgb(255, 255, 255);
    font-family: "Chivo Mono", monospace;
    margin-left: 10px;
}

.datosperfil
{
    border: none; /* Elimina el borde */
    background-color: transparent;
    display: flex;
    align-items: center;
}

.datosperfil span
{
    color:rgb(255, 255, 255);
    font-family: "Chivo Mono", monospace;
    margin-left: 10px;
}

.dropdown-menu {
    animation: fadeIn 1s ease; /* Animación de opacidad durante 2 segundos */
}   

.container-global{
    width: 100%;
    display: flex;
    height: 88vh;
}

.footer
{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4vh;
    background: rgba(24,23,28,255);
    color: rgba(255,255,255,0.2);
    display: flex;
    justify-content: center;
}

.contenedor-principal
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
    height: auto;
    z-index: 0;
    height: 90%;
    overflow-y: auto;
}

.contenedor-principal
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
    height: auto;
    z-index: 0;
    height: 90%;
    overflow-y: auto;
}

.bienvenida
{
    position: absolute;
    font-family: "Chivo Mono", monospace;
    color:rgb(200, 200, 200);
    display: flex;
    flex-direction: column;
    height: 87vh;
    justify-content: center;
    align-items: center;
    margin: auto;
    z-index: 1;
}

.bienvenida h2{
    font-size : 300%;
    text-align: center;
}

.bienvenida p{
    background-image: linear-gradient(225deg, #5244E9 6%, #A870FF 95%);
    -webkit-background-clip: text; /* Para navegadores WebKit (Chrome, Safari, etc.) */
    background-clip: text;
    color: transparent; /* Oculta el color del texto */
}

.nav{
    z-index: 3;
    font-size: 30px;
}

.lista 
{
    border-right: 1px solid rgba(231, 231, 231, 0.2);
}

.lista:hover {
    animation: increaseSize 0.5s forwards; /* Aplica la animación solo cuando se hace hover */
}

.lista:not(:hover) {
    animation: decreaseSize 0.5s forwards; /* Aplica la animación solo cuando se hace hover */
}

.lista li
{   
    margin-top: 20px;
    padding: 5px;
    width: 300%;
}

.lista:not(:hover) .texto {
    display: none; /* Oculta los textos cuando la lista no está en hover */
}

.lista li a
{
    position: relative;
    font-family: "Chivo Mono", monospace;
    color: #ffffff;
}



.lista li a:hover
{
    padding: 10px;
    background-color:rgba(192, 192, 192,0.1);
    border-radius: 20px;
    font-weight:600;
}

.lista li a.crear-equipo
{
    border-radius: 20px;
}

.icono_crear
{
    transform: rotate(45deg);
}

.lista li a.crear-equipo:hover
{
    background-image: linear-gradient(225deg, #5244E9 6%, #A870FF 95%);
    padding: 15px !important;
    color: #ffffff;
}

ul{
    list-style: none;
}

.lista li:hover .icono_crear path {
    fill: #ffffff; /* Cambia el color del icono a blanco */
}


a:active{
    background-image: linear-gradient(225deg, #5244E9 6%, #A870FF 95%);
}

.buscador {
    width: 50%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.buscador form {
    width: 100%;
    height: 70%;
    background: rgba(255,255,255,0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    backdrop-filter: blur(4px) saturate(180%);
    font-family: "Chivo Mono", monospace;
}

.buscador input[type="text"] {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: white;
    width: 85%;

}

.buscador button {
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 8px 12px;
    width: 15%;
}

.buscador button:hover {
    background-image: linear-gradient(225deg, #5244E9 6%, #A870FF 95%) !important;
    color: black !important; /* Cambia el color del texto cuando el botón está activo */
    background-clip: text; /* Para que el degradado solo aplique al texto */
    -webkit-background-clip: text; /* Prefijo para navegadores webkit (como Chrome, Safari) */
    -webkit-text-fill-color: transparent; /* Oculta el color del texto para que se muestre el degradado */

}

/*Tamaño PC*/
@media screen and (min-width:768px) 
{
    .lista li a:hover .numero_notificacion
    {
        left: 85px !important;
        bottom: 20px !important;
    }

}


/*Tamaño tablet*/
@media screen and (min-width:560px) and (max-width:768px) {

    .lista li a:hover .numero_notificacion
    {
        left: 85px !important;
        bottom: 20px !important;
    }


    .logo h1{
        display: none;
    }
    
    .logo
    {
        width: 20%;
    }

    .buscador
    {
        width: 50%;
    }

    .perfil
    {
        width: 30%;
    }

}

/*Vista movil*/
@media screen and (max-width:560px) {

    .container-global
    {
        height: 92vh;
        display: flex;
        flex-direction: column-reverse;
    }

    .buscador{
        width: 0%;
        display: none;
    }

    .logo
    {
        width: 20%;
    }

    .perfil
    {
        width: 80%;
    }


    .logo h1{
        display: none;
    }

    .bienvenida
    {
        height: 80%;
    }

    .bienvenida h2{
        font-size : 200%;
    }

    .lista ul
    {
        width: 100%;
        display: flex;
        flex-wrap: nowrap
    }

    .lista
    {
        width: 100%;
        border-top: 1px solid rgba(231, 231, 231, 0.2);
        animation: none !important;
    }

    .lista:hover .texto {
        display: none !important;
    }

    .lista:hover,
    .lista:not(:hover) {
        animation: none !important;
    }

    /* También puedes querer detener la animación del icono en hover */
    .lista li:hover .icono_crear path {
        animation: none !important;
    }

    ul{
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .lista ul li
    {
        display: flex;
        justify-content: center;
    }

    .contenedor-principal
    {
        width: 100%;
    }

    .lista li a:hover {
        /* Estilos que deseas aplicar cuando el ancho de la pantalla es igual o menor a 500px */
        padding: initial; /* Cambiar el padding a su valor inicial */
        background-color: initial; /* Cambiar el color de fondo a su valor inicial */
        border-radius: initial; /* Cambiar el radio de borde a su valor inicial */
        font-weight: initial; /* Cambiar el peso de la fuente a su valor inicial */
    }

    a:active{
        background-image: initial;
    }

    .numero_notificacion
    {
        bottom: 10px !important;
    }

    .lista:hover .numero_notificacion
    {
        animation: none !important;
    }

    .lista li a:hover .numero_notificacion {
        left: auto !important; /* Elimina el valor de left */
        bottom: 100px; /* Elimina el valor de bottom */
    }

    .footer
    {
        display: none;
        height: 0vh;
    }
}

@keyframes increaseSize {
    from {
      width: 100px;
    }
    to {
      width: 300px; /* Cambia este valor según el tamaño deseado */
    }
  }

    @keyframes decreaseSize {
    from {
        width: 300px;
    }
    to {
        width:100px;
    }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.numero_notificacion
{
    position: absolute;
    bottom: 5px;
    right: -5px;
    background-image: linear-gradient(225deg, #5244E9 6%, #A870FF 95%);
    color: rgb(255, 255, 255);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.lista:hover .numero_notificacion
{
    animation: movement_notification 0.5s forwards; /* Aplica la animación solo cuando se hace hover */
    bottom: 5px;
}
@keyframes movement_notification {
    from {
        left: 15px;
        bottom: 5px;
    }
    to {
        left: 72px;
        bottom: 10px;
    }
}