body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.bg-glass {
  background-color: hsla(0, 0%, 100%, 0.9) !important;
  backdrop-filter: saturate(200%) blur(25px);
}

.btn-rosa {
  background-color:deeppink !important;
}

.background-radial-gradient {
  background-color: hsl(218, 41%, 15%);
  background-image: radial-gradient(650px circle at 0% 0%,
      hsl(218, 41%, 35%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%),
    radial-gradient(1250px circle at 100% 100%,
      hsl(218, 41%, 45%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%);
}

.custom-btn {
  display: none; /* Hide the radio buttons */
}

.custom-label {
  margin-bottom: 0; /* Remove extra margin */
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: 1px solid #44006b; /* $indigo-300 equivalent */
  color: #44006b; /* Text color */
}

.custom-label:hover {
  background-color: #ad1fff; /* Light gray background on hover */
}

.custom-btn:checked + .custom-label {
  background-color: #44006b; /* $indigo-300 equivalent */
  color: #fff; /* Text color */
}

#btn10 + .custom-label {
  border-radius: 0%;
}

#radius-shape-1 {
  height: 220px;
  width: 220px;
  top: -60px;
  left: -130px;
  background: radial-gradient(#44006b, #ad1fff);
  overflow: hidden;
}

#radius-shape-2 {
  border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
  bottom: -60px;
  right: -110px;
  width: 300px;
  height: 300px;
  background: radial-gradient(#44006b, #ad1fff);
  overflow: hidden;
}

 /* Style for the header */
 .header {
  background: radial-gradient(#44006b, #ad1fff); 
  color: white; /* White text color */
  text-align: center; /* Center-align text */
  padding: 20px; /* Add padding */
  margin-bottom: 20px; /* Add margin */
  border-radius: 20px;
}

/* Style for arrow icons */
.arrow-icon {
  font-size: 24px;
  color: #ad1fff;
  cursor: pointer;
}
